.welcome-note{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.g-col.no-sumary-card{
    .row{
        margin-left:unset;
        margin-right: unset;
        padding:0px 20px ;
        .card{
            width: 333.3333px;
            box-shadow: unset;
            .card-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                >div{
                    width: 114px;
                }
            }
        }
    }
}