.g-sidebar-nav {
    margin-bottom: unset;
    list-style: none;
    font-size: 1em;
    padding: unset;
    .g-sidebar-nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-left: 3px solid rgba(0, 0, 0, 0);
    }

    .g-sidebar-nav-link.active {
        border-left: 3px solid lightgreen;
    }

    .g-sidebar-nav-link:hover {
        background: rgba(144, 238, 144, 0.466);
    }
}


@media only screen and (max-width: 600px) {
    .g-sidebar-nav {
        display: flex;
        justify-content: space-around;
        height: 100%;
        .g-sidebar-nav-item{
            flex-grow: 1;
            .g-sidebar-nav-link {
                height: 100%;
                padding: unset;

                &.active {
                    border-left: unset;
                    border-top: 3px solid rgba(196, 137, 132, 0.74);
                }
            }
        }
        
    }
}