.add-package{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    background: rgba(0, 0, 0, 0.479);
    width: 100%;
        .modal-body{
            max-height: 66vh;
            overflow-y: scroll;   
    }
    
}