.add-package{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: fit-content;
    background: rgba(0, 0, 0, 0.479);
    width: 100%;
    >.modal{
        display: block;
    }
}