.sign-in-container {
  display: flex;
  justify-content: flex-end;
  background:white;
}

div.sign-in {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  background:#ffffffff;
  padding:0px 1%;
  width: 42%; 
  min-width: 300px;
  height:100vh;
  >*{
    padding:0.8em 0px;
  }
  input {
    width: 100%;
    padding: 12px;
    margin: 4px 0;
    display: -ms-flexbox;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color:#359559;
    color: white;
    padding: 0.5em 2em;
    margin: 4px 2px;
    border-radius: 2px;
    cursor: pointer;
    border:1px solid rgba(169, 240, 5); 
  }
}

.right{
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  height:100vh;
  padding: 2em;
  background-image: url('../public/img/road_big.jpg');
  background-attachment: fixed;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  >div{
    padding:0px 14px 14px 14px;
    color:white;
    border-radius: 2px;
  }
  .other-users{
    color:rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.936);
    width:50%;
    >p{
      padding-top:0.7em;
      color: rgb(1, 160, 80);
    }
    .users{
      color:rgb(48, 48, 48);
      .user-card{
        background: white;
        margin:5px 0px;
        cursor: pointer;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        padding:0.5em 2em;
        border-bottom: 1px solid rgba(43, 255, 0, 0.521);
        .email{
          color:rgb(46, 46, 46);
        }
      }
      .user-card:hover{
          background: rgba(43, 255, 0, 0.221);
        
      }
    }
  }
}