$flex-box: flex;
$primary-color: rgba(255, 0, 0, 0.63);
$other-color: rgba(12, 163, 12, 0.445);
$side-modal-width: 25%;
$side-modal-width-no-sum-card: 5%;
$top-margin:20px;

body {
    background: $other-color;
    >#app{
        display: flex;
        position: relative;
    >.menu {
            height: 100vh;
            background: white;
        }
    >.page{
        height: 100vh;
        flex-grow: 1;
        position: relative;
        overflow: hidden;
    }
    }

    @media only screen and (max-width: 600px) {
        >#app{
            flex-direction: column-reverse;
        >.menu {
                height: 10vh;
                background: white;
                overflow: hidden;
            }
        >.page{
            height:90vh;
            flex-grow: 1;
            &.not-logedin{
                height: unset;
            }
        }
        }
    }
}