$flex-box: flex;
$primary-color: rgba(255, 0, 0, 0.63);
$other-color: rgba(12, 163, 12, 0.445);
$side-modal-width: 25%;
$side-modal-width-no-sum-card: 5%;
$top-margin:20px;

body {
    background: $other-color;
}

#app {
    display: block;
    position: relative;
}

.flex-box {
    display: $flex-box;
    position: relative;

    .menu {
        display: flex;
        max-width: $side-modal-width;
        justify-content: space-between;
        height: 100vh;
        position: fixed;
        width:fit-content;
        .g-sidebar-nav {
            background: white;
            margin-bottom: unset;
            border-right: 1px solid lighten($color: $primary-color, $amount: 60);
            list-style: none;
            font-size: 1em;
            padding: unset;

            .g-sidebar-nav-link {
                padding: 15px 15px;
                display: block;
                border-left: 3px solid rgba(0, 0, 0, 0);
                color: $other-color;
            }

            .g-sidebar-nav-link.active {
                border-left: 3px solid lightgreen;
                color: $primary-color;
            }

            .g-sidebar-nav-link:hover {
                background: rgba(144, 238, 144, 0.466);
            }
        }

        .g-pack-sum {
            padding: 1em 1.8em;
            height: fit-content;
            flex-grow: 1;
            max-width: 90%;
            margin: 0px 5%;
            margin-top: $top-margin;
            height: 90%;
            width: 260px;
            .badge {
                justify-content: center;
                align-items: center;
                height: fit-content;
                padding: 0.4em;
            }

            .g-package-status-li {
                padding: unset;
                list-style: none;
                padding-top: 20px;

                li {
                    padding: 10px 2px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }

            .total {
                padding: 30px 0px;
                border-top: 2px solid red;
                display: $flex-box;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
    }

    .g-col {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin:0px;
        margin-top: $top-margin;
        margin-left: $side-modal-width;
        padding: 0em 01em;
        background: white;
        .table-container {
            margin-top: 15px;

            tr {
                .action {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    *{
                        padding:2px 5px;
                        margin:0px 2px;
                    }

                    *:hover{
                        cursor: pointer;
                    }
                }
            }
        }

        .g-tool-bar {
            display: flex;
            place-items: flex-start;
            flex-wrap: wrap;
            justify-content: space-between;
            padding:10px 0px;

        .right-tools {
                display: flex;
                width: 50%;
                flex-grow: 0;

                * {
                    margin: 0px 0.2em;
                    max-width: 50%;
                }
        }
        
        }

        .board{
            display: flex;
            overflow: auto;
            height: 80vh;
            padding-top: 10px;
            .package-list{
                background: lightgrey;
                margin: 0px 0.2em;
                min-width: 280px;
                border-radius: 5px;
                overflow: hidden;
                height: fit-content;
                >h2{
                    font-size: 17px;
                    padding: 0.9em 0.7em;
                    background: rgb(202, 202, 202);
                    margin: unset;
                }
                .list-wrapper{
                    padding:5px ;
                    .package-card{
                        background:white;
                        padding: 0.1em;
                        border-radius: 2px;
                        margin:5px 2px;
                        .package-wrapper{
                            h5{
                                text-transform: uppercase;
                                margin-bottom: unset;
                                padding:12px 5px;
                                color: #607D8B;
                                font-size: 1.04em;
                                line-height: 1em;
                                .id{
                                    color: #FF9800;
                                }
                            }
                        }
                        .package-btns{
                            display: flex;
                            justify-content: flex-end;
                            padding: 2px;
                            .move-card{
                                background: lightgrey;
                                border: unset;
                                padding: 3px 7px;
                                width: 80px;
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                color: #607D8B;
                                border-radius: 2px;
                                i{
                                    font-size: 0.8em;
                                    display: block;
                                    color: #607d8ba6;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    .g-col.no-sumary-card {
        margin-left: $side-modal-width-no-sum-card;
        display: flex;
        justify-content: center;
        background: unset;
        touch-action: pan-y;
        .user-form {
            width: 1000px;
            max-width: 70%;
        }
    }
}